// Colores

$Primary: #44ffa1;

$Secondary-dark: #24053e;
$Secondary: #584d62;
$Secondary-clear: #fcf8ff;

$White: #ffffff;


// Spacing

$space-100: .8rem;
$space-150: 1.2rem;
$space-200: 1.6rem;
$space-250: 2rem;
$space-350: 2.8rem;
$space-400: 3.2rem;
$space-500: 4rem;
$space-550: 4.4rem;
$space-700: 5.6rem;
$space-800: 6.4rem;
$space-1000: 8rem;
$space-1100: 8.8rem;
$space-1400: 11.2rem;
$space-1600: 12.8rem;
$space-1800: 14.4rem;
$space-2000: 16rem;
$space-2100: 16.8rem;
$space-3700: 29.6rem;
