.value-section {
  color: $Secondary-dark;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  padding-bottom: 21.4rem;
  padding-top: 8.8rem;
  background-image: radial-gradient(
    210% 198% at top,
    $Secondary-clear 0%,
    $Secondary-clear 50%,
    transparent 50.1%
  );

  @media screen and (max-width: 947px) {
    flex-direction: column;
  }
}
