.button {
  display: inline-block;
  text-decoration: none;

  &--full {
    color: $Secondary-dark;
    background-color: $Primary;
    padding: 1.2rem 3.2rem;

    &:hover {
      background-color: transparent;
      color: $Primary;
      box-shadow: inset 0rem 0rem 0rem 0.3rem $Primary;
    }
  }

  &--outline {
    color: $White;
    border-bottom: 0.3rem solid $Primary;
    padding-bottom: 0.2rem;

    &:hover {
      color: $Primary;
    }
  }
}
