*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (max-width: 1185px) {
    font-size: 50%;
  }

  @media screen and (max-width: 890px) {
    font-size: 45%;
  }

  @media screen and (max-width: 659px) {
    font-size: 35%;
  }

  @media screen and (max-width: 304px) {
    font-size: 30%;
  }
}

body {
  background-color: $White;
  font-family: $font-primary;
}
